
h2{
    font-family: "Bebas Neue", sans-serif;
}

body{
    background-color: #181a1b;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/*MENU*/
.header-kauri{
    width: 100%;
}

.menu-kauri{
    height: 110px;
    background: #111;   
    display: grid;
    grid-template-columns: 520px 1fr 280px;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-family: "Bebas Neue", sans-serif;
}

.marca-menu{
    height: 110px;
    display: flex;
    align-items: center;
    gap: 22px;
    padding-left: 55px;
    position: relative;
}

.logo-menu{
    width: 95px;
    height: 195px;
    object-fit: contain;
}

.marca-menu h2{
    color: white;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}

.marca-menu::after{
    content: "";
    position: absolute;

    right: -95px;
    top: 0;

    width: 160px;
    height: 110px;

    background: #c00000;

    clip-path: polygon(
        80% 0,
        85% 0,
        35% 100%,
        30% 100%
    );
}

.marca-menu{
    overflow: visible;
}

.menu-kauri ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-kauri ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    gap: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-family: "Bebas Neue", sans-serif;
}

.menu-kauri ul li a.activo::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 100%;
    height: 4px;
    background: #e00000;
}

.btn-reservar{
    height: 110px;
    width: 300px;
    background: #c00000;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    gap: 12px;
    text-transform: uppercase;
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%);
    font-family: "Bebas Neue", sans-serif;
}

/**/


.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

                                /* imagen del medio */



.hero1{
    width: 100%;
    height: 900px;

    background-image:
    linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("../img/gg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
}
.partidos-inicio{

    width: 92%;
    margin: 60px auto;
    font-family: "Bebas Neue", sans-serif;
}

.partidos-inicio h2{

    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;

    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    text-shadow:
        0 0 6px rgba(255,0,0,.45),
        0 0 14px rgba(255,0,0,.35),
        0 0 26px rgba(255,0,0,.25);

}
.ranking{
    width: 90%;
    margin: 60px auto;
    text-align: center;
    
}

.ranking h2{

    font-size: 40px;
    margin-bottom: 30px;

    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;

    text-shadow:
        0 0 6px rgba(255,0,0,.45),
        0 0 14px rgba(255,0,0,.35),
        0 0 26px rgba(255,0,0,.25);

}

.ranking table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(131, 6, 6);
}

.ranking th{
    background-color: rgb(131, 6, 6);
    color: white;
    padding: 18px;
    font-family: "Bebas Neue", sans-serif;
}

.ranking td{
    background-color: #f2f2f2;
    padding: 16px;
    font-family: "Bebas Neue", sans-serif;
    color: #1a0000;
    border-bottom: 1px solid #ddd;
}

.ranking tr:hover td{
    background-color: #e0e0e0;
    transition: 0.3s;
}


.jugadores{
    width: 90%;
    margin: 80px auto;
    text-align: center;
}

/* =========================
        PARTIDOS
========================= */

.partidos-page {
    width: 92%;
    max-width: 1350px;
    margin: 35px auto 60px;
    font-family: "Bebas Neue", sans-serif;
}

.bloque-torneo{
    background: linear-gradient(135deg, #424242, #000000);
    border-radius: 12px;
    padding: 34px 14px 14px;
    margin-bottom: 35px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.25);
}

.bloque-torneo h3{
    color: white;
    font-size: 54px;
    margin: 0 0 10px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 16px;

    text-shadow:
        0 0 6px rgba(255,0,0,.40),
        0 0 12px rgba(255,0,0,.30);
}

.bloque-torneo h3::before{
    color: #620000;
    font-size: 42px;
}

.bloque-torneo h3::after{
    content: "    ";
    display: block;
    width: 400px;
    height: 4px;
    background: #990101;
    border-radius: 999px;
    position: absolute;
    margin-top: 75px;
    margin-left: 0;
}

.estado-torneo {
    display: inline-block;
    background-color: rgba(255,255,255,0.18);
    color: #b7ffbd;
    padding: 5px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.card-partido{
    background: #fff7f4;
    border-radius: 12px;
    padding: 18px 30px;
    margin-bottom: 14px;
    min-height: 110px;

    display: grid;

    grid-template-columns:
        170px
        minmax(220px, 1.5fr)
        140px
        minmax(220px, 1.5fr)
        130px
        170px;

    align-items: center;
    column-gap: 18px;
}
/* FECHA */

.info-fecha{

    padding-right: 25px;
    border-right: 1px solid #e2d7d7;

}

.info-fecha p{

    margin: 10px 0;
    font-size: 20px;
    color: #222;

}

#form-torneo input[type="date"]::-webkit-calendar-picker-indicator{

    filter: invert(1);

    cursor: pointer;

}


/* =========================
   RANKING
========================= */

.ranking-page{
    min-height: calc(100vh - 110px);
    padding: 40px 20px;
    background: #181a1b;
}

.ranking-section{
    max-width: 1500px;
    margin: 0 auto;
    background: linear-gradient(145deg, #171a1c, #222629);
    border-radius: 26px;
    padding: 45px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow:
        0 0 35px rgba(160,0,0,0.18),
        0 25px 55px rgba(0,0,0,0.45);
}

.ranking-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 38px;
}

.ranking-section h2{
    margin: 0;
    font-size: 64px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;

    text-shadow:
        0 0 6px rgba(255,0,0,.45),
        0 0 14px rgba(255,0,0,.35),
        0 0 26px rgba(255,0,0,.25);

    position: relative;
}v

.ranking-section h2::after{
    content: "";
    display: block;
    width: 90px;
    height: 5px;
    background: #c00000;
    margin: 12px auto 0;
    border-radius: 10px;
}

.ranking-selector{
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0;
}

.ranking-selector label{
    color: #f1f1f1;
    font-weight: bold;
    font-size: 17px;
}

.ranking-selector select{
    padding: 12px 20px;
    min-width: 165px;
    border-radius: 12px;
    border: 2px solid #c00000;
    background: #101112;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.tabla-ranking{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 18px;
}

.tabla-ranking thead{
    background: #a00000;
}

.tabla-ranking thead th{
    color: white;
    font-size: 21px;
    letter-spacing: 1px;
    padding: 18px;
    text-align: center;
}

.tabla-ranking tbody tr{
    background: #f7f7f7;
}

.tabla-ranking tbody tr:nth-child(even){
    background: #eeeeee;
}

.tabla-ranking tbody tr:hover{
    background: #ffecec;
}

.tabla-ranking td{
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    color: #111;
    font-size: 17px;
}

.tabla-ranking tbody td:first-child{
    font-size: 20px;
    font-weight: bold;
}

.tabla-ranking tbody td:nth-child(2){
    font-weight: 800;
}

.tabla-ranking tbody td:nth-child(3){
    font-weight: 900;
    color: #9b0000;
}

.tabla-ranking tbody tr:nth-child(1) td:first-child::before{
    content: "🥇 ";
}

.tabla-ranking tbody tr:nth-child(2) td:first-child::before{
    content: "🥈 ";
}

.tabla-ranking tbody tr:nth-child(3) td:first-child::before{
    content: "🥉 ";
}

/* JUGADORES */

.jugador{

    display: flex;
    align-items: center;
    gap: 16px;

}

.jugador{
    min-width: 0;
}

.jugador div{
    min-width: 0;
}

.jugador-1{

    padding-left: 25px;

}

.jugador-2{

    padding-left: 25px;

}

.foto-jugador{

    width: 79px;
    height: 79px;

    border-radius: 50%;

    object-fit: cover;

    border: 3px solid #000000;

}

.jugador h4{
    margin: 0;
    font-size: 19px;
    color: #111;
    font-family: Arial, sans-serif;
}

.jugador span{

    color: #555;
    font-size: 15px;

}

/* VS */

.versus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    text-align: center;
    color: #980000;
    font-size: 34px;
    font-family: "Bebas Neue", sans-serif;
}

/* CANCHA */

.info-cancha{
    padding-left: 0;
    border-left: none;
    text-align: center;
}

.info-cancha p{

    margin: 0 0 14px;
    font-size: 16px;

}

/* BADGE */

.badge-partido{

    display: inline-block;

    background: #ffd88d;
    color: #9b5a00;

    padding: 8px 16px;

    border-radius: 20px;

    font-weight: bold;

    text-transform: uppercase;

    font-size: 13px;

}

/* RESULTADO */

.resultado-partido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #980000;
    font-size: 22px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;

    min-width: 220px;
    white-space: nowrap;
    text-align: center;
}

.resultado-set{
    display: inline;
    color: #980000;
}

.sin-partidos {
    background: #fff7f4;
    padding: 20px;
    border-radius: 10px;
    color: #777;
    font-style: italic;
}



.resultado-set {
    color: #980000;
    line-height: 1;
}


                                /* jugadores html */


.jugadores{
    width: 90%;
    margin: 80px auto;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.jugadores h2{
    font-size: 40px;
    margin-bottom: 25px;
}

#buscador-jugadores{
    width: 60%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 35px;
    font-size: 16px;
}

.lista-jugadores{
    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(190px, 220px));

    justify-content: center;

    gap: 28px;
}

.card-jugador{
    background: linear-gradient(180deg, #c30000 0%, #680000 100%);
    border-radius: 18px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 12px 28px rgba(0,0,0,0.28);
    transition: 0.3s;
    text-align: center;
    padding-bottom: 18px;
    font-family: "Bebas Neue", sans-serif;
    border: 1px solid rgba(255,255,255,0.15);
}

.card-jugador:hover{
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0 18px 34px rgba(0,0,0,0.38);
}

.card-jugador img{
    width: 100%;
    height: 185px;
    object-fit: cover;
}

.card-jugador h3{
    margin: 16px 10px 8px;
    font-size: 23px;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
}

.card-jugador p{
    font-size: 14px;
    color: #333;
}

.stats-jugador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 14px 14px 0;
    padding-top: 12px;
    border-top: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.card-jugador a{
    display: none;
}

.card-jugador p{
    display: none;
}

/* FILTRO CATEGORÍA JUGADORES */
#filtro-categoria-jugadores,

/* SELECT CATEGORÍA ADMIN JUGADORES */
#categoria-jugador{
    padding: 12px 20px;
    min-width: 180px;
    border-radius: 12px;
    border: 2px solid #c00000;
    background: #101112;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

#filtro-categoria-jugadores:hover,
#categoria-jugador:hover{
    border-color: #e00000;
}

#filtro-categoria-jugadores:focus,
#categoria-jugador:focus{
    box-shadow: 0 0 12px rgba(224,0,0,0.4);
    border-color: #e00000;
}


/* =========================
   FILTROS PARTIDOS
========================= */

.filtros-partidos{
    width: 100%;
    max-width: 900px;
    margin: 0 auto 35px;

    display: flex;
    justify-content: center;
    gap: 18px;

    background: linear-gradient(145deg, #171a1c, #222629);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;

    padding: 22px;

    box-shadow:
        0 0 25px rgba(160,0,0,0.12),
        0 15px 35px rgba(0,0,0,0.35);
}

.filtros-partidos select{
    min-width: 220px;

    padding: 13px 18px;

    border-radius: 12px;

    border: 2px solid #c00000;

    background: #101112;

    color: white;

    font-weight: bold;

    cursor: pointer;
}

.ganador-partido{
    background: rgba(0, 150, 70, 0.13);
    border-radius: 14px;
    padding: 10px;
    border: 1px solid rgba(0, 190, 90, 0.45);
}

.texto-ganador{
    display: inline-block;
    margin-left: 8px;

    background: #00a651;
    color: white;

    padding: 3px 8px;

    border-radius: 10px;

    font-size: 11px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

.instancia-partido{
    font-size: 13px;
    color: #ffffff;

    background: #222;

    padding: 6px 12px;

    border-radius: 16px;

    text-transform: uppercase;
}

                                /* PERFIL */

.perfil-jugador{
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
}

.perfil-hero{
    padding: 70px 7% 120px;
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 60px;
    align-items: center;
    background: linear-gradient(135deg, #151919, #060606);
}

.perfil-foto img{
    width: 330px;
    height: 430px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 25px 55px rgba(0,0,0,.5);
}

.perfil-label{
    color: #d00000;
    font-size: 22px;
    letter-spacing: 2px;
}

.perfil-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil-info h2{
    color: white;
    font-size: 68px;
    margin: 12px 0 30px;
    line-height: 1;
}

.perfil-meta{
    display: flex;
    gap: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.perfil-meta div{
    border-right: 1px solid rgba(255,255,255,.25);
    padding-right: 45px;
}

.perfil-meta span{
    display: block;
    color: #cfcfcf;
    font-size: 18px;
}

.perfil-meta strong{
    display: block;
    color: #d00000;
    font-size: 42px;
}

.perfil-resumen-stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 650px;
    border-top: 1px solid rgba(255,255,255,.18);
    padding-top: 30px;
    text-align: center;
}

.perfil-resumen-stats div{
    border-right: 1px solid rgba(255,255,255,.18);
}

.perfil-resumen-stats strong{
    display: block;
    color: white;
    font-size: 46px;
}

.perfil-resumen-stats span{
    color: #aaa;
    font-size: 20px;
    text-transform: uppercase;
}

.perfil-panel-stats{
    width: 86%;
    margin: -70px auto 50px;
    background: white;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 20px 45px rgba(0,0,0,.25);
    overflow: hidden;
}

.perfil-panel-item{
    padding: 32px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.perfil-panel-item span{
    display: block;
    color: #111;
    font-size: 18px;
}

.perfil-panel-item strong{
    display: block;
    font-size: 46px;
    color: #111;
    margin: 8px 0;
}

.perfil-panel-item small{
    color: #b00000;
    font-size: 17px;
}

.perfil-partidos{
    width: 86%;
    margin: 0 auto 60px;
    color: white;
}

.perfil-partidos-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 15px;
}

.perfil-partidos h3{
    font-size: 34px;
    color: white;
    margin: 0;
}

.partido-perfil-item{
    background: linear-gradient(135deg,#1d2424,#222b2b);

    border: 1px solid rgba(255,255,255,.08);

    border-radius: 18px;

    padding: 22px 28px;

    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .25s;
}

.partido-perfil-item:hover{
    transform: translateY(-3px);
    border-color: rgba(208,0,0,.4);
}

.partido-perfil-fecha{
    display: inline-block;

    background: rgba(255,255,255,.08);

    padding: 5px 10px;

    border-radius: 8px;

    color: #cfcfcf;

    font-size: 13px;

    margin-bottom: 10px;
}

.partido-perfil-item strong{
    display: block;

    font-size: 30px;

    color: white;

    margin-bottom: 6px;
}

.partido-perfil-item small{
    color: #9f9f9f;
    font-size: 15px;
}   

.partido-perfil-resultado{
    display: flex;
    flex-direction: column;

    gap: 6px;

    min-width: 120px;

    align-items: center;
    justify-content: center;
}

.partido-perfil-resultado .set{
    background: rgba(255,255,255,.15);

    padding: 4px 10px;

    border-radius: 8px;

    width: 70px;

    text-align: center;

    font-size: 18px;
}


.mini-score{

    display: grid;

    grid-template-columns:
        40px
        repeat(var(--sets), 36px);

    gap: 4px;

    align-items: center;
    justify-items: center;

    font-size: 23px;
}

.score-header{

    color: white;

    background: rgba(255,255,255,.15);

    font-size: 21px;
}

.score-player{

    font-weight: bold;

    color: white;
    
    background: rgba(255,255,255,.15);

    font-size: 21px;
}

.score-cell{

    width: 34px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    background:transparent;

    border-radius: 6px;

    color: white;

    font-weight: bold;
}

.perfil-vacio{
    background: #202525;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 16px;
    padding: 25px;
    color: #ccc;
    font-size: 18px;
}

.volver-jugadores{
    display: inline-flex;
    margin: 0 0 60px 7%;
    background: #b00000;
    color: white;
    padding: 13px 24px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
}
                                /* admin html*/

.admin-body{
    min-height: 100vh;

    background:
    radial-gradient(circle at top left,
    rgba(190,0,0,0.18),
    transparent 30%),

    linear-gradient(135deg,#050505,#151515);

    color: white;

    font-family: "Bebas Neue", sans-serif;
}

.admin-header{
    height: 110px;

    background: #0d0d0d;

    border-bottom: 1px solid rgba(255,255,255,0.08);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 70px;
}

.admin-logo-box{
    display: flex;
    align-items: center;
    gap: 22px;
}

.admin-logo{
    width: 90px;
    height: 90px;

    object-fit: contain;
}

.admin-logo-box h1{
    color: white;

    font-size: 42px;

    letter-spacing: 2px;

    margin: 0;
}

.admin-logo-box p{
    color: #d10000;

    font-size: 15px;

    letter-spacing: 3px;

    margin: 0;
}

.btn-cerrar-admin{
    background: transparent;

    color: white;

    border: 1px solid #d10000;

    padding: 14px 24px;

    border-radius: 10px;

    font-size: 15px;

    text-transform: uppercase;

    cursor: pointer;

    transition: 0.3s;
}

.btn-cerrar-admin:hover{
    background: #c00000;
}

.admin-panel{
    width: 90%;
    max-width: 1300px;

    margin: 70px auto;

    font-family: "Bebas Neue", sans-serif;
}

.admin-panel h2{
    font-size: 48px;

    color: white;

    margin-bottom: 12px;
}

.admin-subtitulo{
    color: #cfcfcf;

    font-size: 18px;

    margin-bottom: 45px;
}

.admin-cards{
    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 35px;
}

.admin-card{
    min-height: 330px;

    background:
    linear-gradient(145deg,#111,#1c1c1c);

    color: white;

    text-decoration: none;

    border-radius: 22px;

    border: 1px solid rgba(255,255,255,0.08);

    border-top: 5px solid #c00000;

    padding: 45px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    text-align: center;

    transition: 0.3s;

    box-shadow:
    0 18px 35px rgba(0,0,0,0.35);
}

.admin-card:hover{
    transform: translateY(-8px);

    border-color: #d10000;

    box-shadow:
    0 18px 45px rgba(190,0,0,0.25);
}

.admin-card i{
    font-size: 60px;

    color: #d10000;
}

.admin-card h3{
    color: white;

    font-size: 36px;

    margin: 0;
}

.admin-card p{
    color: #cfcfcf;

    font-size: 16px;

    line-height: 1.5;

    max-width: 260px;
}

/*                                  admin torneos*/
#form-torneo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

#form-torneo input,
#form-torneo select{
    background: #090909;
    color: white;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    padding: 14px;
    font-family: inherit;
}

#form-torneo input:focus,
#form-torneo select:focus{
    outline: none;
    border-color: rgba(255,0,0,0.65);
    box-shadow: 0 0 12px rgba(255,0,0,0.25);
}

#form-torneo button{
    background: linear-gradient(145deg,#c00000,#ff0000);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 14px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 0 0 14px rgba(255,0,0,0.25);
    transition: 0.3s;
}

#form-torneo button:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 22px rgba(255,0,0,0.45);
}


                                /* admin-jugadores */
.admin-jugadores{
    width: 90%;
    max-width: 1250px;
    margin: 60px auto;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

.admin-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.admin-top h2{
    font-size: 46px;
    margin: 0;
    color: white;
}

.btn-volver,
#btn-agregar-jugador{
    background: transparent;
    color: white;
    border: 1px solid #d10000;
    padding: 13px 22px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-volver:hover,
#btn-agregar-jugador:hover{
    background: #c00000;
}

.tabla-admin-container{
    background:
    linear-gradient(145deg,
    rgba(15,15,15,0.96),
    rgba(22,22,22,0.96));

    border-radius: 22px;

    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(255,0,0,0.35);

    box-shadow:
    0 0 25px rgba(255,0,0,0.18),
    0 18px 40px rgba(0,0,0,0.45);
}

.tabla-admin{
    width: 100%;
    min-width: 720px;
}

.tabla-admin thead{
    background:
    linear-gradient(90deg,#b00000,#e00000);

    box-shadow:
    0 0 18px rgba(255,0,0,0.35);
}


.tabla-admin th,
.tabla-admin td{
    padding: 22px 18px;
    text-align: center;
    color: white;
}

.tabla-admin tbody tr{
    background: rgba(10,10,10,0.92);

    border-bottom:
    1px solid rgba(255,255,255,0.06);

    transition: 0.25s;
}


.tabla-admin tbody tr:hover{
    background:
    rgba(120,0,0,0.28);

    box-shadow:
    inset 0 0 25px rgba(255,0,0,0.12);
}

.tabla-admin tbody tr:nth-child(even){
    background: rgba(20,20,20,0.96);
}

.admin-foto{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid rgba(255,255,255,0.18);
}

.acciones-admin{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.btn-editar,
.btn-eliminar{
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 9px;
    cursor: pointer;
}

.btn-editar{
    background: #222;
    border: 1px solid rgba(255,255,255,0.12);
}

.btn-editar:hover{
    background: #333;
}

.btn-eliminar{
    background: #c00000;
}

.btn-eliminar:hover{
    background: #e00000;
}

.modal-jugador{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.modal-jugador.activo{
    display: flex;
}

.form-jugador{
    background: linear-gradient(145deg,#111,#1c1c1c);
    width: 400px;
    padding: 35px;
    border-radius: 22px;
    border-top: 5px solid #c00000;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 18px 45px rgba(0,0,0,0.45);
}

.form-jugador h3{
    text-align: center;
    color: white;
    font-size: 30px;
}

.form-jugador input{
    padding: 13px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.15);
    background: #090909;
    color: white;
}

.form-botones{
    display: flex;
    gap: 12px;
}

.form-botones button{
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-botones button:first-child{
    background: #c00000;
    color: white;
}

.form-botones button:last-child{
    background: #222;
    color: white;
}

body.admin-body{
    min-height: 100vh;

    background:
    radial-gradient(circle at top left,
    rgba(255,0,0,0.35),
    transparent 28%),

    radial-gradient(circle at bottom right,
    rgba(255,0,0,0.22),
    transparent 25%),

    linear-gradient(135deg,#050505,#111);

    background-attachment: fixed;
}


                                            /* admin-partidos */
.admin-partidos{
    width: 90%;
    max-width: 1250px;
    margin: 60px auto;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    position: relative;
    z-index: 2;
}

.form-partido-box,
.lista-partidos-box{
    background:
    linear-gradient(145deg,
    rgba(15,15,15,0.96),
    rgba(22,22,22,0.96));

    border-radius: 22px;
    border: 1px solid rgba(255,0,0,0.35);

    padding: 30px;
    margin-bottom: 35px;

    box-shadow:
    0 0 25px rgba(255,0,0,0.18),
    0 18px 40px rgba(0,0,0,0.45);
}

.form-partido-box h2,
.lista-partidos-box h2{
    color: white;
    font-size: 34px;
    margin-bottom: 22px;
}


#form-partido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    
}

#form-partido select,
#form-partido input{

    background: #090909;

    color: white;

    border: 1px solid rgba(255,255,255,0.15);

    border-radius: 10px;

    padding: 14px;

    font-family: inherit;

    color-scheme: dark;

}

#form-partido input::placeholder{

    color: #9c9c9c;

}

#form-partido input[type="date"]::-webkit-calendar-picker-indicator,
#form-partido input[type="time"]::-webkit-calendar-picker-indicator{

    cursor: pointer;

}

#form-partido select option{

    background: #111;

    color: white;

}

#form-partido select,
#form-partido input{
    background: #090909;
    color: white;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    padding: 14px;
    font-family: inherit;
    color-scheme: dark;
}


#form-partido button{
    background:
    linear-gradient(145deg,#c00000,#ff0000);

    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    padding: 14px;

    font-family: inherit;
    font-size: 16px;

    box-shadow:
    0 0 14px rgba(255,0,0,0.25);

    transition: 0.3s;
}


#form-partido button:hover{
    transform: translateY(-2px);
    box-shadow:
    0 0 22px rgba(255,0,0,0.45);
}

.lista-partidos-box{
    overflow-x: auto;
}

.estado-partido{
    padding: 7px 13px;
    border-radius: 20px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
}

.estado-partido.pendiente{
    background: rgba(255,0,0,0.16);
    color: #ff4d4d;
    border:
    1px solid rgba(255,0,0,0.25);
}

.estado-partido.finalizado{
    background: rgba(0,180,80,0.18);
    color: #00d46a;
}

.admin-partidos{
    width: 90%;
    max-width: 1250px;

    margin: 40px auto 70px;
}

body.admin-body{
    background:
    radial-gradient(circle at top left,
    rgba(255,0,0,0.28),
    transparent 28%),

    radial-gradient(circle at bottom right,
    rgba(255,0,0,0.18),
    transparent 24%),

    linear-gradient(135deg,#050505,#101010);

    background-attachment: fixed;
}

.lista-partidos-box{
    margin-top: 45px;
}

                                        /* login html */


.login-admin{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
}

#form-login{
    background-color: white;

    padding: 40px;

    border-radius: 22px;

    width: 350px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;

    gap: 20px;
}

#form-login h2{
    text-align: center;

    color: rgb(131, 6, 6);
}

#form-login input{
    padding: 14px;

    border-radius: 10px;

    border: 1px solid #ccc;
}

#form-login button{
    background-color: rgb(131, 6, 6);

    color: white;

    padding: 14px;

    border: none;

    border-radius: 10px;

    cursor: pointer;
}














